{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Quote' %}
{% endblock %}
{% block heading %}
    <h3> {% trans 'Quote' %} </h3>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="card-header col-md-8 col-12">
                        <h4 class="card-title">{% trans 'Quote for' %} {{ object.organization.name }} by {{ object.creator }}</h4>
                    </div>
                    <div class="card-header col-md-4 col-12">
                        <h4 class="card-title">{% trans 'Quote Date' %} : {{ object.create_time.date }}</h4>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-light mb-0">
                                <thead class="thead-dark">
                                <tr>
                                    <th>{% trans 'Product Name' %}</th>
                                    <th>{% trans 'Quantity' %}</th>
                                    <th>{% trans 'Price' %}</th>
                                    <th>{% trans 'Discount' %}</th>
                                    <th>{% trans 'Tax' %}</th>
                                    <th>{% trans 'Total Price' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for quoteitem in object.quoteitem_set.all %}
                                    <tr>
                                        <td class="text-bold-500">{{ quoteitem.product.name }}</td>
                                        <td>{{ quoteitem.quantity }}</td>
                                        <td>{{ quoteitem.price }}</td>
                                        <td>-{{ quoteitem.discount }}%</td>
                                        <td>
                                            {% if quoteitem.product.tax_status %}
                                                9%
                                            {% else %}
                                                0%
                                            {% endif %}
                                        </td>
                                        <td>{{ quoteitem.get_total_price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-light mb-0">
                                    <thead class="thead-dark">
                                    <th>{% trans 'Total Quantity' %}</th>
                                    <th>{% trans 'Total Price' %}</th>
                                    <th>{% trans 'Total Discount' %}</th>
                                    <th>{% trans 'Total Tax' %}</th>
                                    <th>{% trans 'Final Price' %}</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ object.get_total_quantity }}</td>
                                        <td>{{ object.get_total_base_price }}</td>
                                        <td>-{{ object.get_quote_discount }}</td>
                                        <td>{{ object.get_quote_tax }}</td>
                                        <td>{{ object.get_total_price }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}