{% extends 'base.html' %}

{% block title %}
    Quotes
{% endblock %}
{% block heading %}
    <h3> Quotes </h3>
{% endblock %}
{% block Quotes %}
    active
{% endblock %}
{% block pagetitle %}
    Quotes
{% endblock %}
{% block content %}
    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="card-header col-md-5 col-12">
                        <h4 class="card-title">All Quotes</h4>
                    </div>
                    <div class="card-header col-md-6 col-12">
                        <form action="" method="get">
                            <div class="row">
                                <div class="col-md-5 col-12">
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" placeholder="Search" name="search" id="search">
                                        <div class="form-control-icon">
                                            <i class="bi bi-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <select class="form-select" name="mode" id="mode" required>
                                        <option value="organization" selected>Organization</option>
                                        <option value="product">Product</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-12">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table -->
                        {% if object_list %}
                            <div class="table-responsive">
                                <table class="table table-light mb-0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Organization</th>
                                        <th>Items</th>
                                        <th>Create Time</th>
                                        <th>Download PDF</th>
                                        <th>View PDF</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quote in object_list %}
                                        <tr>
                                            <td class="text-bold-500"><a href="{% url 'quote:detail-quotes' quote.pk %}">{{ quote.organization }}</a></td>
                                            <td>{% for item in quote.quoteitem_set.all %}
                                                {{ item.product }} {% endfor %}</td>
                                            <td>{{ quote.create_time.date }} {{ quote.create_time.time }}</td>
                                            <td><a class="btn btn-primary me-1 mb-1" href="{% url 'quote:download-pdf-quotes' quote.pk %}">Download</a></td>
                                            <td><a class="btn btn-primary me-1 mb-1" href="{% url 'quote:pdf-quotes' quote.pk %}">View</a></td>
                                            <td><a class="btn btn-primary me-1 mb-1" href="{% url 'quote:send-email' quote.pk %}">Send Email</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}