<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="quote.css" media="print" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
</head>

<body>
<h1>Quote</h1>

<aside>
    <address id="from">
        Company Name
        {{ object.creator.username }}
        Company Address
        021 3301 5698
    </address>

    <address id="to">
        {{ object.organization.name }}
        {{ object.organization.city }}
        {{ object.organization.organization_phone_number }}
    </address>
</aside>

<dl id="informations">
    <dt>Invoice number</dt>
    <dd>{{ object.pk }}</dd>
    <dt>Date</dt>
    <dd>{{ object.create_time.date }}</dd>
</dl>

<table>
    <thead>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Discount</th>
    <th>Tax</th>
    <th>Total Price</th>
    </thead>
    <tbody>
    {% for quoteitem in object.quoteitem_set.all %}
        <tr>
            <td>{{ quoteitem.product.name }}</td>
            <td>{{ quoteitem.product.price }}</td>
            <td>{{ quoteitem.quantity }}</td>
            <td>-{{ quoteitem.discount }}%</td>
            <td>{{ quoteitem.get_total_tax }}</td>
            <td>{{ quoteitem.get_total_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table id="total">
    <thead>
    <th>Total Quantity</th>
    <th>Total Price</th>
    <th>Total Discount</th>
    <th>Total Tax</th>
    <th>Total Due</th>
    </thead>
    <tbody>
    <tr>
        <td>{{ object.get_total_quantity }}</td>
        <td>{{ object.get_total_start_price }}</td>
        <td>{{ object.get_quote_discount }}</td>
        <td>{{ object.get_quote_tax }}</td>
        <td>{{ object.get_total_price }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
