{% extends 'base.html' %}

{% block title %}
    Follow Up
{% endblock %}
{% block heading %}
    <h3> Create </h3>
{% endblock %}
{% block pagetitle %}
    Follow up
{% endblock %}
{% block content %}
    <section class="" id="success">
    </section>
    <section class="block remove-top" id="error">
    </section>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Information</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-7 col-12">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" id="title" class="form-control" name="title" required>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="form-group">
                                            <label for="body" class="form-label">Body</label>
                                            <textarea type="text" id="body" class="form-control" name="body"
                                                      rows="3" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" id="submit"
                                        class="btn btn-primary me-1 mb-1">Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script>
        $(document).ready(function () {
            $("#submit").click(function (event) {
                var title = $('#title').val();
                var body = $('#body').val();
                var csrf = window.CSRF_TOKEN
                var pathname = window.location.pathname;
                $.ajax({
                    method: 'POST',
                    url: pathname,
                    data: {
                        csrfmiddlewaretoken: csrf,
                        title: title,
                        body: body,
                    },
                    success: function (response) {
                        $('#success').append(
                            $('<div class="alert alert-success alert-dismissible show fade">')
                                .append($('<p>').append(response.massages))
                                .append($('<button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close">'))
                        );
                    },
                    error: function (response) {
                        $('#error').append(
                            $('<div class="alert alert-danger alert-dismissible show fade">')
                                .append($('<p>').append(response.responseJSON.massages))
                                .append($('<button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close">'))
                        );
                    },
                });
            });
        });
    </script>
{% endblock %}