{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block heading %}
    <h3>{% trans 'Follow Up' %} : {{ object.title }}</h3>
{% endblock %}
{% block content %}
    <div class="col-12 col-lg-6">
        <div class="card">
            {# header #}
            <div class="card-header">
                <h4>{% trans 'Information' %}</h4>
            </div>
            {# end header #}
            {# body #}
            <div class="card-body">
                {% trans 'Body' %} : {{ object.body }}
                <br>
                {% trans 'Creator' %} : {{ object.creator }}
                <br>
                {% trans 'Created Time' %} : {{ object.created_time.date }} {{ object.created_time.time }}
            </div>
            {# end body #}
        </div>
    </div>
{% endblock %}