{% extends 'base.html' %}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block heading %}
    <h3>Organization : {{ object.name }} <a href="{% url 'organizations:edit-organization' object.slug %}"
                                            class="btn btn-secondary">Edit</a></h3>
{% endblock %}
{% block pagetitle %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Organization Information</h4>
            </div>
            <div class="card-body">
                Contact Number : {{ object.organization_phone_number }}
                <br>
                Email Address : {{ object.organization_email }}
                <br>
                City : {{ object.city }}
                <br>
                Number of Employee : {{ object.number_of_employees }}
                <br>
                Product : {% for product in object.get_organization_products %} ,{{ product }}{% endfor %}
                <br>
                Suggested Product : {% for product in object.get_suggestion_products %} ,{{ product }} {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Purchasing Officer Information</h4>
            </div>
            <div class="card-body">
                Name : {{ object.purchasing_officer_name }}
                <br>
                Phone Number : {{ object.purchasing_officer_phone_number }}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <!-- table -->
                {% if object.followup_set.all %}
                    <div class="table-responsive">
                        <table class="table table-light mb-0">
                            <thead class="thead-dark">
                            <tr>
                                <th>Number</th>
                                <th>Follow Up Title</th>
                                <th>Body</th>
                                <th>Creator</th>
                                <th>Create Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for followup in object.followup_set.all %}
                                <tr>
                                    <td class="text-bold-500">{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'followup:detail-followup' followup.slug %}">{{ followup.title }}</a>
                                    </td>
                                    <td>{{ followup.body | truncatechars:20 }}</td>
                                    <td class="text-bold-500">{{ followup.creator }}</td>
                                    <td>{{ followup.created_time.date }} {{ followup.created_time.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}