{% extends 'base.html' %}

{% block title %}
    Organizations
{% endblock %}
{% block heading %}
    <h3> Organizations </h3>
{% endblock %}
{% block Organizations %}
    active
{% endblock %}
{% block pagetitle %}
    Organizations
{% endblock %}
{% block content %}
    <section class="block remove-top" id="success">
    </section>
    <section class="block remove-top" id="error">
    </section>
    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="card-header col-md-5 col-12">
                        <h4 class="card-title">{{ user.username | capfirst }} Organizations</h4>
                    </div>
                    {% if page_obj %}
                    <div class="card-header col-md-6 col-12">
                        <form action="" method="get">
                            <div class="row">
                                <div class="col-md-5 col-12">
                                    <div class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" placeholder="Search" name="search"
                                               id="search">
                                        <div class="form-control-icon">
                                            <i class="bi bi-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <select class="form-select" name="mode" id="mode" required>
                                        <option value="name" selected>Organization Name</option>
                                        <option value="city">City</option>
                                        <option value="purchasing_officer_name">Purchasing Officer</option>
                                        <option value="purchasing_officer_number">Purchasing Officer Number</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-12">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table -->
                        {% if page_obj %}
                            <div class="table-responsive">
                                <table class="table table-light mb-0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Organization Name</th>
                                        <th>City</th>
                                        <th>Purchasing Officer</th>
                                        <th>Purchasing Officer Number</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for organization in page_obj %}
                                        <tr>
                                            <td class="text-bold-500"><a
                                                    href="{% url 'organizations:detail-organization' organization.slug %}">{{ organization.name }}</a>
                                            </td>
                                            <td>{{ organization.city }}</td>
                                            <td class="text-bold-500">{{ organization.purchasing_officer_name }}</td>
                                            <td>{{ organization.purchasing_officer_phone_number }}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#{{ organization.slug }}">
                                                    Report
                                                </button>
                                                <!--login form Modal -->
                                                <div class="modal fade text-left" id="{{ organization.slug }}"
                                                     tabindex="-1"
                                                     role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                         role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"
                                                                    id="myModalLabel33">{{ organization.name }}</h4>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <i data-feather="x"></i>
                                                                </button>
                                                            </div>
                                                            <form class="form" method="post">
                                                                <div class="modal-body">
                                                                    <input type="hidden" id="organization"
                                                                           value="{{ organization.pk }}"
                                                                           name="organization"
                                                                           class="form-control organization">
                                                                    <label for="title">Title : </label>
                                                                    <input type="text" placeholder="Title" id="title"
                                                                           name="title" class="form-control title"
                                                                           required>
                                                                    <br>
                                                                    <label for="body">Body : </label>
                                                                    <textarea type="text" placeholder="Body" id="body"
                                                                              name="body"
                                                                              class="form-control body" rows="3"
                                                                              required></textarea>
                                                                    <br>
                                                                    <button type="button" class="btn btn-danger"
                                                                            data-bs-dismiss="modal">
                                                                        <i class="bx bx-x d-block d-sm-none"></i>
                                                                        <span class="d-none d-sm-block">Close</span>
                                                                    </button>
                                                                    <button type="button"
                                                                            class="btn btn-primary ml-1 button"
                                                                            id="{{ organization.slug }}"
                                                                            data-bs-dismiss="modal">
                                                                        <i class="bx bx-check d-block d-sm-none"></i>
                                                                        <span class="d-none d-sm-block">Send</span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                           <div class="card-body">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary justify-content-center">
                                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link" href="?page=1">
                                        <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                                    </a></li>
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                    </a></li>
                                    {% endif %}
                                    {% for page in page_obj.paginator %}
                                    <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                    </a></li>
                                    {% endif %}
                                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                        <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                                    </a></li>
                                </ul>
                            </nav>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script>
        $(document).ready(function () {
            $(".button").click(function (event) {
                var organization = $(this).siblings('.organization').val();
                var title = $(this).siblings('.title').val();
                var body = $(this).siblings('.body').val();
                var csrf = window.CSRF_TOKEN;
                var pathname = window.location.pathname;
                $.ajax({
                    method: 'POST',
                    url: '/followup/create/',
                    data: {
                        csrfmiddlewaretoken: csrf,
                        title: title,
                        body: body,
                        organization: organization,
                    },
                    success: function (response) {
                        $('#success').append(
                            $('<div class="alert alert-success alert-dismissible show fade">')
                                .append($('<p>').append(response.massages))
                                .append($('<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">'))
                        );
                    },
                    error: function (response) {
                        $('#error').append(
                            $('<div class="alert alert-danger alert-dismissible show fade">')
                                .append($('<p>').append(response.responseJSON.massages))
                                .append($('<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">'))
                        );
                    },
                });
            });
        });
    </script>
    <script type="text/javascript">
        function form_submit() {
            document.getElementById("testmodal").submit();
        }
    </script>
{% endblock %}